<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Cards</title>
</head>
<body>
  <h1>Current Collection:</h1>
  <ul>
    <% cards.forEach(card => { %>
      <li>
        <a href="/cards/<%= card._id %>"><%= card.title %> </a>
      </li>
    <% }) %>
  </ul>
  <a href="cards/new">Add a card</a>
  <a href="/">Home</a>
</body>
</html>