<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Add a Card</title>
</head>
<body>
  <h1>Add a new Card</h1>
  <form action="/cards" method="POST" autocomplete="off">
    Title: <input type="text" name="title" required="true">
    Casting Cost: <input type="text" name="castCost" required="true">
    Card Text: <input type="text" name="cardText" required="true">
    <button type="submit">Add card to your collection!</button>
  </form>
</body>
</html>